body{
  background-color: white;
}
#menu-alto{
  margin-bottom: 55px;
}
#slide{
  height: 400px;
}
#innerImage{
  width:auto;
  height:400px;
  background-image: url(../IMG/circle.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-dark{
  margin-top: 200px;
  background-color: #343a4096;
  border-color: #343a4096;
}
#middle {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}
#title {
  text-align: center;
}
.preto{
  background: #000000 !important;
}
#ul-menu-bot {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#relogio{
  text-align: center;
  font-weight: 100;
  color: white;
}
.li-menu-bot {
  float: left;
}

.li-menu-bot a {
  display: block;
  color: grey !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-menu-bot a:hover:not(.active) {
  color: white !important;
}

.active {
  background-color: #4CAF50;
}
