body {
    background-color: white;
}
#middle {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}
#title {
  text-align: center;
}
#menu-alto {
  margin-bottom: 55px;
}
.preto{
  background: #000000 !important;
}
#ul-menu-bot {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#relogio{
  text-align: center;
  font-weight: 100;
  color: white;
}
.li-menu-bot {
  float: left;
}

.li-menu-bot a {
  display: block;
  color: grey !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-menu-bot a:hover:not(.active) {
  color: white !important;
}

.active {
  background-color: #4CAF50;
}
