<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Escola virtual - Pre matricula</title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="../script/classes.js"> </script>
		<script src="../script/components.js"> </script>
		<link rel="stylesheet" type="text/css" href="../CSS/style.css" />
		<style>
			#box1{
				padding: 10px;
				margin-left: 30%;
				margin-right: 30%;
				width: 40%;
				height: auto;
				border-style: double;
  			border-width: 5px;
				background-color: white;
			}
			#box2{
				padding: 10px;
				margin-left: 30%;
				margin-right: 30%;
				width: 40%;
				height: auto;
		  	display: flex;
				border-style: none double double double;
  			border-width: 5px;
				background-color: white;
				text-align: left;
			}
			.info{
				margin-left: 10px;
			}
			.texto{
				margin-bottom: 8px;
			}
			.button{
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: center;
			}
		</style>
		</head>
	</head>

	<body>
		<div id="menu-alto">
			<nav-top> </nav-top>
		</div>

		<div id="formulario">
			<div style="text-align: center">
				<h1> Escola virtual </h1>
				<h2> Formulario de Pré-Matricula </h2>
			</div>

			<hr>

			<div id="box1">
				<span style="text-align: left"> Dados pessoais: </span>

				<div style="display:flex; flex-direction: row; padding-left: 20%;">
					<div style="text-align: right;">
						<div class='texto'>Nome do Aluno: <br></div>
						<div class='texto'>Data de Nascimento: <br></div>
						<div class='texto'>Nome da Mãe: <br></div>
						<div class='texto'>Nome do Pai: <br></div>
						<div class='texto'>Telefone: <br></div>
						<div>Email: <br></div>
					</div>

					<div style="text-align: left;">
						<input v-model='newStudent.studentName'><br>
						<input type='date' v-model='newStudent.birthDate'><br>
						<input v-model='newStudent.motherName'><br>
						<input v-model='newStudent.fatherName'><br>
						<span>DDD(<input v-model='newStudent.telefone.ddd' style='width:30px'>)
							Tel: <input v-model='newStudent.telefone.numero' style='width:120px'>
							Ramal: <input v-model='newStudent.telefone.ramal' style='width:40px'>
						</span><br>
						<input v-model='newStudent.email'></span>
					</div>
				</div>
			</div>

			<div id="box2">
				<div>
					<b>Informações da Matricula:</b><br>
					Serie:<br>
					<select v-model="newStudent.serie">
						<option disabled value="">---</option>
						<option>Pré Escolar</option>
						<option>Ensino Medio</option>
						<option>Outros</option>
					</select>
				</div>

				<div class='info'>
					<br>Turno:<br> <span><input type='radio' v-model='newStudent.turno' value='manha'> Manha </span>
					<br><span><input type='radio' v-model='newStudent.turno' value='Noite'> Noite </span>
				</div>

				<div class='info'>
					<br>Atividades Extracurriculares:<br>
					<input type='checkbox' v-model='newStudent.extra.infor'> Informatica<br>
					<input type='checkbox' v-model='newStudent.extra.music'> Musica<br>
					<input type='checkbox' v-model='newStudent.extra.balet'> Balet<br>
					<input type='checkbox' v-model='newStudent.extra.paint'> Pintura<br>
					<input type='checkbox' v-model='newStudent.extra.judo'> Judô<br>
					<input type='checkbox' v-model='newStudent.extra.fut'> Futebol<br>
				</div>

			</div>

			<div class="button">
				<button class="btn btn-success" type="submit" v-on:click="cadastrar()"
				style="width:15%; margin-bottom: 5px">
					Enviar
				</button><br>
				<button class="btn btn-secondary" type="submit" v-on:click="limpar()">
					Limpar campos
				</button>
				<button class="btn btn-secondary" type="submit" v-on:click="tableUsers()">
					Tabela de Usuarios
				</button>
			</div>

			<table-user v-bind:itens='cadastro' v-if="tableShow">
			</table-user>

		</div>
		<div id="menu-baixo">
			<nav-bottom> </nav-bottom>
		</div>

		<script>
			var menuBaixo = new Vue({
		 	 components: {navBottom},
		 	 el: '#menu-baixo',
		  })

			var menuAlto = new Vue({
		  	components: {navTop},
		  	el: '#menu-alto',
		  })

			var tableUser = Vue.component('table-user', {
				props: ['itens'],
				template: `
					<div>
						<table class="table table-dark table-striped">
							<tr>
								<th> Nome do Aluno </th>
								<th> Nome da Mãe </th>
								<th> Nome do Pai </th>
								<th> Data de nascimento </th>
								<th> Telefone </th>
								<th> Email </th>
								<th> Turno </th>
								<th> Atividades Extra </th>
								<th> Serie </th>
							</tr>
							<tr v-for="cadastro in itens"	v-bind:key="cadastro.id">
								<td>{{ cadastro.studentName }}</td>
								<td>{{ cadastro.motherName }}</td>
								<td>{{ cadastro.fatherName }}</td>
								<td>{{ cadastro.birthDate }}</td>
								<td>{{ (cadastro.telefone.ddd)+' '+cadastro.telefone.numero+' '+cadastro.telefone.ramal }}</td>
								<td>{{ cadastro.email }}</td>
								<td>{{ cadastro.turno }}</td>
								<td>{{atividadesExtras(cadastro)}}</td>
								<td>{{ cadastro.serie }}</td>
							</tr>
						</table>
					<div>`,
					methods:{
						atividadesExtras(cadastro){
							let ativArray= [];

							let ativObj = {
								infor: 'Informatica',
								music: 'Musica',
								balet: 'Balet',
								paint: 'Pintura',
								judo: 'Judô',
								fut: 'Futebol',
							}

							for (var key in cadastro.extra){
								if (cadastro.extra[key]){
									ativArray.push(ativObj[key]);
								}
							}
							return ativArray.join(', ');
						}
					},
			})

			var vm = new Vue ({
				components: {tableUser},
				el: '#formulario',
				data:{
					cadastro: [],
					newStudent: new Student,
					tableShow: false,
				},
				methods:{
					cadastrar() {
						/*if(!this.validade()){
							return;
						}*/
						this.cadastro.push(this.newStudent);
						this.newStudent = new Student;
						alert('Cadastrado com Sucesso!');
					},
					tableUsers(){
							this.tableShow = !this.tableShow
					}

					/*validade() {
						if (this.studentName=='' || this.motherName=='' || this.fatherName=='' ||
						 this.birthDate==''	|| this.selected=='' ){
							alert("Campo obrigatorio vazio");
							return false;
						}
						return true;
					}*/
				}

			})
		</script>
	</body>
</html>
